{% extends "Site/layout.html.twig" %}

{% import 'Site/macro/sense.html.twig' as _sense %}

{% block content %}

    <div class="lexeme-page">
        {% if senses is not empty %}
            <div class="lexeme">
                <h1 class="lexeme-title" data-jbootoc-skip>{{ searchString|upper }}</h1>
                {% if derivitedLexemesCollection is not empty %}
                    <div class="derivated-lexemes">
                        <h2 class="relation-title" data-jbootoc-id="derivated-lexemes">
                            {{ 'derived_from'|trans }}
                        </h2>
                        <div class="relations-subjects">
                            {{ _sense.senseList(derivitedLexemesCollection) }}
                        </div>
                    </div>
                {% endif %}
                <div class="senses">
                    {% for sense in senses %}
                        <div class="sense">
                            <h2 class="sense-title" data-jbootoc-id="{{ sense.name|translit }}">{{ sense.name|capitalize }}
                                {{ sense.meaning ? sense.meaning }}</h2>
                            {% set relations = sense.getGroupedRelatedSenses() %}
                            {% if relations %}
                                <div class="sense-relations relations">
                                    {% for groupName, relatedSenses in relations %}
                                        <div class="relation">
                                            <h3 class="relation-title" data-jbootoc-id="{{ groupName }}">{{ groupName|trans }}</h3>
                                            <div class="relations-subjects">
                                                {{ _sense.senseList(relatedSenses, sense) }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}

                            {% set synset = sense.getSynset() %}
                            <div class="synset">
                                <h3 class="synset-title" data-jbootoc-id="synset">{{ 'synset'|trans|capitalize }}</h3>
                                <div class="synonyms">
                                    {{ _sense.senseList(
                                        synset.senses,
                                        sense,
                                        '[Понятие РуТез: ' ~ synset.name ~ ']')
                                    }}
                                </div>
                                <div class="synset-relations relations">
                                    {% for groupName, relations in synset.getGroupedRelations() %}
                                        <div class="relation">
                                            <h4 class="relations-title" data-jbootoc-id="{{ groupName }}">{{ groupName|trans }}</h4>
                                            <div class="relations-subjects">
                                                {% for relation in relations %}
                                                    <div class="synset">
                                                        {{ _sense.senseList(
                                                            relation.getChildSynset().getSenses(),
                                                            sense,
                                                            '[Понятие РуТез: ' ~ relation.getChildSynset().name ~ ']'
                                                        ) }}
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>

                        </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <h4 data-jbootoc-skip>По запросу «{{ searchString }}» ничего не найдено</h4>
        {% endif %}
    </div>
{% endblock %}
