{% extends "Site/layout.html.twig" %}

{% import 'Site/macro/sense.html.twig' as _sense %}

{% block content %}

    <div class="lexeme-page">
        {% if senses is not empty %}
            <div class="lexeme">
                {% set POS = senses[0].getSynset().part_of_speech %}
                <h1 class="lexeme-title">
                    {{ searchString|upper }}
                    <span>{{ ("pos_" ~ POS)|trans }}</span>
                </h1>
                {% if senses|length > 1 %}
                    <div class="alternative-meanings">
                        <div>Найдено несколько значений:</div>
                        <div>
                            {% for sense in senses %}
                                <a href="#meaning-{{ loop.index }}">
                                    {{ sense.name|capitalize }}
                                    {{ sense.meaning ? sense.meaning }}
                                    ({{ sense.getSynset().name|lower }})
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                <div class="senses">
                    {% for sense in senses %}
                        <div class="sense">
                            {% set synset = sense.getSynset() %}
                            <h2 class="sense-title" id="meaning-{{ sense.meaning }}">
                                {{ sense.name|capitalize }}
                                {{ sense.meaning ? sense.meaning }}
                                <span>{{ synset.name|lower }}</span>
                            </h2>

                            <div class="synset">
                                <h3 class="synset-title">{{ 'synset'|trans|capitalize }}</h3>
                                <div class="synonyms">
                                    {{ _sense.senseList(
                                        synset.senses,
                                        sense,
                                        '[' ~ "ruthes_concept"|trans ~ ': ' ~ synset.name|lower ~ ']') }}
                                </div>
                                {% set relations = sense.getGroupedRelatedSenses() %}
                                {% if relations %}
                                    <div class="sense-relations relations">
                                        {% for groupName, relatedSenses in relations %}
                                            <div class="relation">
                                                <h3 class="relation-title">{{ groupName|trans }}</h3>
                                                <div class="relations-subjects">
                                                    {{ _sense.senseList(relatedSenses, sense) }}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <div class="synset-relations relations">
                                    {% set iliRelations = synset.getIliRelations() %}
                                    {% if iliRelations %}
                                        <div class="relation">
                                            <h4 class="relations-title">{{ 'ili_relation'|trans }}</h4>
                                            <div class="relations-subjects">
                                                {% for relation in iliRelations %}
                                                    <div class="synset">
                                                        <div class="sense-list">
                                                            <div class="sense">
                                                                <a target="_blank"
                                                                   rel="noopener noreferrer"
                                                                   href="http://wordnet-rdf.princeton.edu/ili/{{ relation.ili }}">
                                                                    {{ relation.ili }} {{ relation.name }} ({{ relation.lemma_names|join(', ') }})
                                                                </a>
                                                            </div>
                                                            <div class="tail">
                                                                [{{ 'definition'|trans }}: {{ relation.definition }}]
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% for groupName, relations in synset.getGroupedRelations() %}
                                        <div class="relation">
                                            <h4 class="relations-title">{{ groupName|trans }}</h4>
                                            <div class="relations-subjects">
                                                {% for relation in relations %}
                                                    <div class="synset">
                                                        {{ _sense.senseList(
                                                            relation.getChildSynset().getSenses(),
                                                            sense,
                                                            '[' ~ "ruthes_concept"|trans ~ ': ' ~ relation.getChildSynset().name|lower ~ ']'
                                                        ) }}
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>

                        </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <h4>{{ "word_not_found"|trans({'%search_query%': searchString}) }}</h4>
        {% endif %}
    </div>
{% endblock %}
