{% extends "Site/layout.html.twig" %}

{% import 'Site/macro/sense.html.twig' as _sense %}

{% block content %}

    <div class="lexeme-page">
        {% if senses is not empty %}
            <div class="lexeme">
                <h1 class="lexeme-title">{{ searchString|upper }}</h1>
                <div>
                    <div>Найдено несколько значений:</div>
                    <div>
                        {% for sense in senses %}
                            <a href="#{{ loop.index }}">{{ sense.name|capitalize }} {{ sense.meaning ? sense.meaning }} ({{ sense.getSynset().name }})</a>
                        {% endfor %}
                    </div>
                </div>
                <div class="senses">
                    {% for sense in senses %}
                        <div class="sense">
                            <h2 class="sense-title">{{ sense.name|capitalize }}
                                {{ sense.meaning ? sense.meaning }}</h2>

                            {% set synset = sense.getSynset() %}
                            <div class="synset">
                                <h3 class="synset-title">{{ 'synset'|trans|capitalize }}</h3>
                                <div class="synonyms">
                                    {{ _sense.senseList(
                                        synset.senses,
                                        sense,
                                        '[' ~ "ruthes_concept"|trans ~ ': ' ~ synset.name ~ ']') }}
                                </div>
                                {% set relations = sense.getGroupedRelatedSenses() %}
                                {% if relations %}
                                    <div class="sense-relations relations">
                                        {% for groupName, relatedSenses in relations %}
                                            <div class="relation">
                                                <h3 class="relation-title">{{ groupName|trans }}</h3>
                                                <div class="relations-subjects">
                                                    {{ _sense.senseList(relatedSenses, sense) }}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <div class="synset-relations relations">
                                    {% for groupName, relations in synset.getGroupedRelations() %}
                                        <div class="relation">
                                            <h4 class="relations-title">{{ groupName|trans }}</h4>
                                            <div class="relations-subjects">
                                                {% for relation in relations %}
                                                    <div class="synset">
                                                        {{ _sense.senseList(
                                                            relation.getChildSynset().getSenses(),
                                                            sense,
                                                            '[' ~ "ruthes_concept"|trans ~ ': ' ~ relation.getChildSynset().name ~ ']'
                                                        ) }}
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>

                        </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <h4>{{ "word_not_found"|trans({'%search_query%': searchString}) }}</h4>
        {% endif %}
    </div>
{% endblock %}
